<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>All products</h1>
    <a href="{% url 'product-create' %}" class="btn btn-success">Add Product</a>
    <br>
    {% for product in products %}
    <a href="{% url 'product-detail' product.id %}"> {{ product.name }} </a>
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Quantity: {{ product.quantity }}</p>
    <p>Category: {{ product.category }}</p>
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100"><br>
    {% endif %}
    <a href="{% url 'product-delete' product.id %}">Delete</a><br>
    {% empty %}
    <p>No products available</p>
    {% endfor %}



</body>

</html>