{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product Form</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name}}" width="100"><br>
        {% endif %}
        <button type="submit" class="btn btn-primary">Create Product</button><br>
        <a href="{% url 'product-list' %}" class="btn btn-secondary">Back to Products</a>

    </form> 
</body>
</html>